body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.bold
{
	font-weight: bold;
}

.red
{
	color: #e11f26;
}

.hidden
{
	visibility: hidden;
}

h2
{
	margin: 0 auto;
	text-align: center;
}
/*****Header*****/
header
{
	width: 70%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header p
{
	color: #e11f26;
	align-self: flex-end;
	margin: 0 0 15px 0;
	font-weight: 700;
	font-size: 2.6em;
}

/*****Diapositive*****/

#diapo
{
	height: 700px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.item:first-child
{
	background: url(img/diapo1.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.diapo1
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,0.4);
	color: white;
}

h1
{
	font-size: 2.5em;
	font-weight: 700;
	margin: 100px 50px;
	text-align: center;
}

.diapo1-l1
{
	align-self: flex-end;
	font-size: 2em;
	margin: 100px 50px;
	font-weight: 700;
	text-align: center;
}

.item:nth-child(2)
{
	background: url(img/diapo2.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.diapo-calc
{
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
}

.diapo2-l1
{
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-weight: bold;
	text-align: center;
	font-size: 2em;
	width: 500px;
}

.diapo2-l2
{
	position: absolute;
	top: 53%;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	width: 500px;
}

.item:nth-child(3)
{
	background: url(img/diapo3.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.diapo3
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.diapo3-l1
{
	margin: 20px 15px;
	font-weight: bold;
	font-size: 2em;
	margin-right: 20%;
	text-align: center;
}

.diapo3-l2
{
	margin: 0 15px;
	font-weight: bold;
	font-size: 1.6em;
	margin-right: 10%;
	width: 40%;
	text-align: center;
}

.item:nth-child(4)
{
	background: url(img/diapo4.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.diapo4
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	font-weight: bold;
	font-size: 1.6em;
	text-align: center;
}

.diapo4 p
{
	margin-right: 20px;
	width: 50%;
}

.navigation
{
	background-color: rgba(0,0,0,0.5);
}

.navigation:hover
{
	cursor: pointer;
	background-color: rgba(0,0,0, 0.8);
}
/*****Application*****/

#appli
{
	height: 600px;
	width: 80%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #ddd0d0;
}

#map
{
	height: 100%;
	z-index: 1;
}

#reservation
{
	margin: 0 auto;
	align-self: stretch;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	display: none;
}

@media (min-width: 720px)
{
	#map
	{
		flex: 2;
	}

	#reservation
	{
		flex: 1;
	}
}

.reservation-top
{
	margin: 10px;
}

.station-info
{
	margin: 0;
}

.station-info:nth-child(4)
{
	height: 15px;
}

.formular
{
	height: 150px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	margin: auto;
}

#prenom, #nom
{
	margin-bottom: 10px;
	font-size: 0.9em;
}

#reserve
{
	width: 100px;
	margin: 0 auto;
}

#sign
{
	visibility: hidden;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
	margin-bottom: 10px;
	z-index: 3;
}

.sign-btns
{
	align-self: center;
}

.sign-btns *
{
	margin: 0 3px;
}

canvas
{
	border: 2px solid black;
	display: block;
	width: 100%;
	height: 85%;
	background-color: white;
}

input[type="button"]
{
	font-size: 1.1em;
	height: 35px;
	background-color: #ff4747;
	border: none;
	border-radius: 3px;
	border-bottom: #ff4747 4px solid;
	margin-top: 5px;
}

input[type="button"]:hover
{
	border-bottom: #b30000 4px solid;
	cursor: pointer;
}

.legende
{
	background-color: #ddd0d0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: space-between;
	font-size: 0.7em;
}

figure
{
	margin: 5px;
}

figure img
{
	width: 24px;
	margin-left: 50%;
	transform: translateX(-50%);
}

.leaflet-top
{
	transform: translateY(50px);
}


/*****Résumé*****/

#summary
{
	width: 30%;
	height: 250px;
	background-color: #ddd0d0;
	border: 1px solid #b30000;
	margin: auto;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
	border-radius: 4px;
}

#summary p
{
	margin: 0 15px;
	text-align: center;
}

#countdown
{
	font-size: 2em;
}


/*****Modal*****/

.modal
{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	z-index: 10;
	top:0;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal-content
{
	width: 300px;
	height: 200px;
	background-color: white;
	text-align: center;
	position: relative;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.close
{
	font-size: 1.7em;
	position: absolute;
	top: 0px;
	right: 0px;
	line-height: 15px;
	cursor: pointer;
	padding: 5px;
	transform: rotate(45deg);
}

.modal-text
{
	margin: 0 5px;
}

/*****Responsivité*****/

@media (min-width: 2800px)
{
	#diapo
	{
		height: 1000px;
	}
}

@media (max-width: 980px)
{
	header p
	{
		font-size: 1.7em;
	}

	#appli
	{
		width: 90%;
	}
}

@media (max-width: 720px)
{
	header
	{
		width: 98%;
	}

	header p
	{
		font-size: 1.2em;
	}

	#diapo
	{
		height: 500px;
	}

	.diapo1 h1
	{
		font-size: 1.7em;
	}

	.diapo1 h2
	{
		font-size: 1.5em;
	}

	.diapo2-l1
	{
		font-size: 1.7em;
		width: 320px;
	}

	.diapo2-l2
	{
		font-size: 1.5em;
		width: 320px;
	}

	.item:nth-child(3)
	{
		background-position: 75%;
		justify-content: space-around;
	}
	
	.diapo3-l1
	{
		font-size: 1.7em;
		margin: 0 15px;
	}

	.diapo3-l2
	{
		font-size: 1.5em;
		width: 70%;
	}

	.diapo4
	{
		font-size: 1.4em;
	}

	#appli
	{
		flex-direction: column;
		position: relative;
	}

	#map
	{
		width: 100%;
	}

	#reservation
	{
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}

	#sign
	{
		width: 90%;
	}

	#summary
	{
		width: 60%;
	}

	.formular
	{
		width: 120px;
	}

	.reservation-top
	{
		width: 45%;
	}

	#sign
	{
		position: absolute;
		top: 30%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
	}
}

@media (max-width: 420px)
{
	header p
	{
		display: none;
	}

	#reservation
	{
		height: 280px;
	}

	#summary
	{
		width: 95%;
	}

	.item:nth-child(4)
	{
		background-position: 40%;
	}	
}