body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.bold
{
	font-weight: bold;
}

/*****Header*****/
header
{
	width: 70%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1
{
	color: #e11f26;
	align-self: flex-end;
	margin: 0 0 15px 0;
}

/*****Diapositive*****/

#diapo
{
	height: 700px;
	width: 100%;
	margin: 0 auto;
}

.item:first-child
{
	background-color: red;
}

.item:nth-child(2)
{
	background-color: blue;
}

.item:nth-child(3)
{
	background-color: grey;
}

.item:nth-child(4)
{
	background-color: pink;
}

.item:nth-child(5)
{
	background-color: purple;
}

.navigation
{
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	position: absolute;
	text-align: center;
	font-size: 30px;
	color: white;
}

.navigation:hover
{
	cursor: pointer;
	background-color: rgba(0,0,0, 0.8);
}
/*****Application*****/

#appli
{
	height: 600px;
	width: 70%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	border: solid 1px black;
	position: relative;
}

#map
{
	height: 100%;
	width: 70%;
}

#reservation
{
	width: 25%;
	margin: 0 auto;
	border: solid 1px black;
	visibility: visible;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.station-info
{
	margin: 0;
}

.station-info:first-child
{
	height: 50px;
}

.station-info:nth-child(4)
{
	height: 15px;
}

.formular
{
	height: 150px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

#prenom, #nom
{
	margin-bottom: 10px;
}

#reserve
{
	width: 70%;
	margin: 0 auto;
}

#sign
{
	display: block;
	height: 50%;
	border: solid 1px blue;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sign-btns
{
	align-self: center;
}

.sign-btns *
{
	margin: 0 3px;
}

canvas
{
	border: 2px solid black;
	display: block;
	width: 100%;
	height: 85%;
}

input[type="button"]
{
	height: 30px;
	background-color: #ec7478;
	border: none;
	font-weight: bold;
	border-radius: 4px;
}

input[type="button"]:hover
{
	background-color: #e11f26;
	cursor: pointer;
}

/*****Résumé*****/

#summary
{
	width: 70%;
	height: 200px;
	background-color: cyan;
	margin: auto;
	visibility: visible;
}

/***test commit***/