body
{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.bold
{
	font-weight: bold;
}

.red
{
	color: #e11f26;
}

/*****Header*****/
header
{
	width: 70%;
	height: 100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header p
{
	color: #e11f26;
	align-self: flex-end;
	margin: 0 0 15px 0;
	font-weight: 700;
	font-size: 2.6em;
}

/*****Diapositive*****/

#diapo
{
	height: 700px;
	width: 100%;
	margin: 0 auto;
}

.item:first-child
{
	background: url(img/diapo1.jpg) center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.diapo1
{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,0.4);
	color: white;
}

h1
{
	font-size: 2.5em;
	font-weight: 700;
	margin: 100px 50px;
}

.diapo1-l1
{
	align-self: flex-end;
	font-size: 2em;
	margin: 100px 50px;
	font-weight: 700;
}

.item:nth-child(2)
{
	background-color: blue;
}

.item:nth-child(3)
{
	background-color: grey;
}

.item:nth-child(4)
{
	background-color: pink;
}

.item:nth-child(5)
{
	background-color: purple;
}

.navigation
{
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0,0.5);
	border-radius: 50%;
	position: absolute;
	text-align: center;
	font-size: 30px;
	color: white;
}

.navigation:hover
{
	cursor: pointer;
	background-color: rgba(0,0,0, 0.8);
}
/*****Application*****/

#appli
{
	height: 600px;
	width: 70%;
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	position: relative;
	background-color: #ddd0d0;
}

#map
{
	height: 100%;
	width: 70%;
}

#reservation
{
	width: 30%;
	margin: 0 auto;
	visibility: hidden;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.reservation-top
{
	margin: 10px;
}

.station-info
{
	margin: 0;
}

.station-info:nth-child(4)
{
	height: 15px;
}

.formular
{
	height: 150px;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
}

#prenom, #nom
{
	margin-bottom: 10px;
	font-size: 0.9em;
}

#reserve
{
	width: 70%;
	margin: 0 auto;
}

#sign
{
	visibility: hidden;
	height: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
	margin-bottom: 10px;
}

.sign-btns
{
	align-self: center;
}

.sign-btns *
{
	margin: 0 3px;
}

canvas
{
	border: 2px solid black;
	display: block;
	width: 100%;
	height: 85%;
	background-color: white;
}

input[type="button"]
{
	font-size: 1.1em;
	height: 35px;
	background-color: #ff4747;
	border: none;
	border-radius: 3px;
	border-bottom: #ff4747 4px solid;
}

input[type="button"]:hover
{
	border-bottom: #b30000 4px solid;
	cursor: pointer;
}

/*****Résumé*****/

#summary
{
	width: 30%;
	height: 200px;
	background-color: #ddd0d0;
	border: 1px solid #b30000;
	margin: auto;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 30px;
	border-radius: 4px;
}

#summary p
{
	margin: 0;
}

#countdown
{
	font-size: 2em;
}
/***test commit***/